.Col {
    height: 200px;
    width: 200px;
    float: left;
    font-size: 100px;
    text-align: center;
    line-height: 200px;
    border-width: 1px;
    border-style: dashed;
    border-color: aquamarine;
    display: inline;
}

.Col:hover {
    background-color: lightgray;
}

.Red {
    background-color: red;
}

.Red:hover {
    background-color: salmon;
}